:root {
  --small-size: 15px;
  --medium-size: 25px;
  --bold-weight: 800;
  --pink: rgb(255, 78, 93);
  --border: 0.5px solid rgba(0, 0, 0, 0.4);
  --light-grey: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-image: url("https://i.ytimg.com/vi/MW8F7-4uzf0/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 500px;
  padding: 20px 120px;
  margin-bottom: 30px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu span {
  font-size: var(--small-size);
  margin-right: 20px;
  color: white;
}

.header-menu span:first-child {
  font-size: 20px;
  font-weight: var(--bold-weight);
}

.header-menu button {
  margin-left: auto;
  height: 31px;
  width: 100px;
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}

.header-heading {
  color: white;
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-heading span:first-child {
  font-size: 50px;
  font-weight: var(--bold-weight);
  margin-bottom: 30px;
}

.header-heading span:last-child {
  font-size: var(--medium-size);
}

.header-btns {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.header-btns button {
  background-color: white;
  color: var(--light-grey);
  border: var(--border);
  height: 45px;
  width: 100%;
  padding: 0 50px;
}

.header-btns .search-btn button {
  background-color: var(--pink);
  color: white;
  border: none;
}

section {
  margin: 10px 120px;
  margin-bottom: 30px;
}

.section-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.section-menu span {
  font-size: var(--medium-size);
  font-weight: 200;
}

.section-menu ul {
  font-size: var(--small-size);
  list-style: none;
  display: flex;
  margin: 0;
  float: right;
}

.section-menu ul li {
  margin-left: 20px;
}

.section-menu ul li:first-child {
  color: var(--pink);
}

.flights-section__contents__header {
  border-bottom: var(--border);
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.flights-section__contents__header span {
  margin-right: 60px;
}

.flights-section__contents__header span:first-child {
  margin-right: 80px;
}

.flights-section__contents__inform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: var(--border);
}

.flights-section__contents__inform div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flights-section__contents__inform div span {
  font-weight: 200;
}

.flights-section__contents__inform div span:last-child {
  color: var(--light-grey);
  margin-top: 7px;
}

.flights-section__contents__inform div:first-child {
  display: flex;
  flex-direction: row;
}

.flights-section__contents__inform img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.buy-btn {
  width: 100px;
  height: 40px;
  background: none;
  border: 1.7px solid var(--pink);
  font-weight: var(--bold-weight);
  border-radius: 5px;
  color: var(--pink);
}

.section-all {
  padding: 30px 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.section-all span {
  color: var(--light-grey);
}

.hotels-section main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotels-section__contents {
  width: 350px;
  height: 370px;
  border: var(--border);
  margin: 30px 0 0 0;
}

.hotels-section__contents img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.hotels-section__contents__inform {
  padding: 20px;
}

.hotels-section__contents__inform h3,
.trip-section__contents__inform span:first-child {
  font-weight: 400;
}

.hotels-section__contents__inform div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hotels-section__contents__inform span,
.trip-section__contents__inform span:last-child {
  color: var(--light-grey);
}

.attractions-section main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.attractions-section__contents {
  position: relative;
}

.attractions-section__contents img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.big {
  width: 380px;
  height: 525px;
  margin: 0 30px 0 0;
}

.medium {
  width: 790px;
  height: 247.5px;
}

.medium:first-child {
  margin-bottom: 30px;
}

.small {
  width: 380px;
  height: 260px;
  margin: 30px 30px 0 0;
}

.small:last-child {
  margin-right: 0;
}

.attractions-section__contents span {
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: var(--medium-size);
}

.trip-section__contents {
  display: flex;
  width: 100%;
  height: 230px;
  border: var(--border);
  margin-top: 30px;
}

.trip-section__contents img {
  width: 380px;
  height: 100%;
  object-fit: cover;
}

.trip-section__contents__inform {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trip-section__contents__inform span:first-child {
  margin-bottom: 30px;
  font-size: 20px;
}
